<mat-card fxLayout="column" fxLayoutAlign="space-between center" >
    <mat-card-title style="font-weight: 600;">{{title}}</mat-card-title>
    <mat-card-title>{{price}} conversions</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
    <mat-card-title class="price">{{price | number}} €</mat-card-title>
    <mat-card-actions>
        <button mat-flat-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="checkout($event)">Buy</button>
    </mat-card-actions>
</mat-card>