@using WebClient.Components.Checkout
@page "/checkout"

<PageTitle>Buy</PageTitle>

<MudText Typo="Typo.h2">RVT To IFC</MudText>

<MudText Typo="Typo.h3">A price for every use</MudText>

<div Class="d-flex flex-column flex-md-row gap-5">
    <PriceCard Title="Start"
               SubTitle="10 conversions" 
               Description="10 Conversions to get you started."
               PriceId="price_1I1FBgFjsZIqAFNU6psC3AjP" />
    <PriceCard Title="Run"
               SubTitle="50 conversions"
               Description="50 Conversions to handle your daily conversions."
               PriceId="price_1I1FBgFjsZIqAFNU6psC3AjP" />
</div>

