@page "/checkout"


<PageTitle>Buy</PageTitle>

<MudText Typo="Typo.h2">RVT To IFC</MudText>

<MudText Typo="Typo.h3">A price for every use</MudText>

<div Class="d-flex flex-column flex-md-row gap-5">
    <MudCard Class="flex-auto">
        <MudCardHeader>
            <MudText Typo="Typo.h4">Start</MudText>
        </MudCardHeader>
        <MudCardHeader>
            <MudText Typo="Typo.h6">10 conversions</MudText>
        </MudCardHeader>
        <MudCardContent Class="align-self-center">
            <MudImage Src="images/revit-to-ifc.svg" Alt="Revit To IFC" Class="rounded-lg" />
        </MudCardContent>
        <MudCardContent>
            <MudText Typo="Typo.body1">10 Conversions to get you started.</MudText>
        </MudCardContent>
        <MudCardActions Class="align-self-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Buy</MudButton>
        </MudCardActions>
    </MudCard>
    <MudCard Class="flex-auto">
        <MudCardHeader>
            <MudText Typo="Typo.h4">Run</MudText>
        </MudCardHeader>
        <MudCardHeader>
            <MudText Typo="Typo.h6">50 conversions</MudText>
        </MudCardHeader>
        <MudCardContent Class="align-self-center">
            <MudImage Src="images/settings.svg" Alt="Settings" Class="rounded-lg" />
        </MudCardContent>
        <MudCardContent>
            <MudText Typo="Typo.body1">50 Conversions to handle your daily conversions.</MudText>
        </MudCardContent>
        <MudCardActions Class="align-self-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Buy</MudButton>
        </MudCardActions>
    </MudCard>
</div>

<MudGrid>
    <MudItem xs="12" sm="6" Class="d-flex">

    </MudItem>
    <MudItem xs="12" sm="6" Class="d-flex">

    </MudItem>
</MudGrid>
