@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/checkout/cancel"

<PageTitle>Purchase canceled</PageTitle>

<div Class="mt-20 d-flex align-center flex-column">
    <MudText Typo="Typo.h3" GutterBottom="true">Your purchase have been canceled.</MudText>
    <MudText Typo="Typo.h5" GutterBottom="true">No fund have been withdrawn.</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="checkout" Class="mt-4">Buy Conversions</MudButton>
</div>