@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/checkout/success/{SessionId}"

<PageTitle>Purchase complete</PageTitle>


<div Class="mt-20 d-flex align-center flex-column">
    <MudText Typo="Typo.h3" GutterBottom="true">Thanks for your purchase!</MudText>
    <MudText Typo="Typo.h5" GutterBottom="true">You can now start converting your Revit files.</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="convert" Class="mt-4">Start Converting</MudButton>
</div>
