@using Microsoft.AspNetCore.Authorization
@using WebClient.Components.Convert;
@attribute [Authorize]
@page "/convert"

<h1 class="mb-4">Convert</h1>

@if (User == null)
{
    <h3 Class="mt-4">Loading ...</h3>
}
else
{
    <h3 Class="mt-4">You have @User.ConversionCredits conversion credits</h3>
}

<Upload></Upload>

<div class="mt-4">
    <h1 class="mb-4">History</h1>
    <WorkItemsList></WorkItemsList>
</div>

