@page "/"

<PageTitle>Home</PageTitle>

<h1>RVT To IFC</h1>

<h2>Convert your design online</h2>

<MudGrid>
    <MudItem xs="12" sm="4">
        <MudCard>
            <MudCardHeader>
                <MudText>Convert to IFC</MudText>
                <MudText>Convert Autodesk® Revit® models online</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.body2">Use this application to convert Revit models to IFC online, without the need for a full Autodesk® Revit® licence.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudText Typo="Typo.h6">MudBlazor is @Text</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">Start Converting</MudButton>
                </MudCardActions>
            </MudCard>
    </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard>
                <MudCardHeader>
                    <MudText>Convert to IFC</MudText>
                    <MudText>Convert Autodesk® Revit® models online</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body2">Use this application to convert Revit models to IFC online, without the need for a full Autodesk® Revit® licence.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudText Typo="Typo.h6">MudBlazor is @Text</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">Start Converting</MudButton>
                </MudCardActions>
            </MudCard>
    </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard>
                <MudCardHeader>
                    <MudText>Convert to IFC</MudText>
                    <MudText>Convert Autodesk® Revit® models online</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body2">Use this application to convert Revit models to IFC online, without the need for a full Autodesk® Revit® licence.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudText Typo="Typo.h6">MudBlazor is @Text</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">Start Converting</MudButton>
                </MudCardActions>
            </MudCard>
    </MudItem>
</MudGrid>

