@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h1">RVT To IFC</MudText>

<MudText Typo="Typo.h2">Convert your design online</MudText>


<MudGrid>
    <MudItem xs="12" sm="4" Class="d-flex">
        <div class="mud-elevation-1 rounded white d-flex flex-column justify-space-between">
            <MudCardHeader>
                <MudText Typo="Typo.h4">Convert to IFC</MudText>
            </MudCardHeader>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Convert Autodesk® Revit® models online</MudText>
            </MudCardHeader>
            <MudCardContent Class="align-self-center">
                    <MudImage Src="images/revit-to-ifc.svg" Alt="Revit To IFC" Class="rounded-lg" />
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.body1">Use this application to convert Revit models to IFC online, without the need for a full Autodesk® Revit® licence.</MudText>
            </MudCardContent>
            <MudCardActions Class="align-self-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="convert">Start Converting</MudButton>
            </MudCardActions>
        </div>
    </MudItem>
    <MudItem xs="12" sm="4" Class="d-flex">
        <div class="mud-elevation-1 rounded white d-flex flex-column justify-space-between">
            <MudCardHeader>
                <MudText Typo="Typo.h4">Fine tune you export</MudText>
            </MudCardHeader>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Fine tune your export settings</MudText>
            </MudCardHeader>
            <MudCardContent Class="align-self-center">
                    <MudImage Src="images/settings.svg" Alt="Settings" Class="rounded-lg" />
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.body1">Use an Autodesk® Revit® Ifc Export configuration file or create your own directly on RVT To IFC.</MudText>
            </MudCardContent>
            <MudCardActions Class="align-self-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="checkout">Coming soon</MudButton>
            </MudCardActions>
        </div>
    </MudItem>
    <MudItem xs="12" sm="4" Class="d-flex">
        <div class="mud-elevation-1 rounded white d-flex flex-column justify-space-between">
            <MudCardHeader>
                <MudText Typo="Typo.h4">Flexible pricing</MudText>
            </MudCardHeader>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Only pay for what you need</MudText>
            </MudCardHeader>
            <MudCardContent Class="align-self-center">
                    <MudImage Src="images/pricing.svg" Alt="Pricing" Class="rounded-lg" />
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.body1">
                    Purchase conversion as you need them or buy them in bulk
                </MudText>
            </MudCardContent>
            <MudCardActions Class="align-self-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="checkout">Buy Conversions</MudButton>
            </MudCardActions>
        </div>

    </MudItem>
</MudGrid>

