{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "{apps,libs}/**/*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
