<mat-expansion-panel class="expansion-panel">
  <mat-expansion-panel-header class="expansion-panel-header">
    <mat-panel-title class="panel-title">
      All conversions
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-subtitle *ngIf="isLoading">
    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
  </mat-card-subtitle>
  <p *ngIf="zeroConversion">You don't have any conversion yet. Upload a Revit model to get started.</p>
  <!-- *ngIf="hasConversions" -->
  <div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input/>
    </mat-form-field>
    
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="fileUrl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
          <td mat-cell *matCellDef="let row">
            <a mat-flat-button color="primary" href="{{row.fileUrl}}" download="{{row.name}}">Download File</a>
          </td>
        </ng-container>

        <!-- Download button Column -->
        <ng-container matColumnDef="report">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report </th>
            <td mat-cell *matCellDef="let row">
              <a mat-flat-button color="primary" href="{{row.report}}" download="{{row.name}}">Download Report</a>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</mat-expansion-panel>