.panel-title {
    font-size: 1.333rem;
    font-weight: 400;
}

.expansion-panel {
    padding: 5px 16px;
}
.expansion-panel-header {
    padding: 0px 16px;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
    border-bottom-color: rgba(0,0,0,.12);
}