<div  *ngIf="isProcessing" >
  <h2 class="mat-display-1">Please wait, we are processing your order ...</h2>
</div>

<div  *ngIf="isSuccess" >
  <h1 class="mat-display-2">Thank you for your order!</h1>
  <h2 *ngIf="conversionCreditsUpdate">You now have {{conversionCreditsUpdate.creditsNumber}} conversions availables !</h2>
  <div  fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-flat-button color="primary" [routerLink]="'/upload'">Start converting!</button>
  </div>
  <div class="detail">
    <p>
      We appreciate your business!
      If you have any questions, please email
      <a href="simon@bim42.com">simon@bim42.com</a>.
    </p>
  </div>
</div>

<div  *ngIf="isError" >
  <h2 class="mat-display-1">Something went wront, please try again.</h2>
  <div  fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-flat-button color="primary" [routerLink]="'/checkout'">Buy Conversions</button>
  </div>
</div>

