<h1>RVT To IFC</h1>
<h2>Convert your design online</h2>


<div>
  <div class="container">
    <mat-card>
      <mat-card-title >Convert to IFC</mat-card-title>
      <mat-card-subtitle>Convert Autodesk® Revit® models online</mat-card-subtitle>
      <img class="picture" src="assets/revit-to-ifc.svg">
      <mat-card-content>
        Use this application to convert Revit models to IFC online, without the need for a full Autodesk® Revit® licence.
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="'/upload'">Start Converting</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title >Fine tune you export</mat-card-title>
      <mat-card-subtitle>Fine tune your export settings</mat-card-subtitle>
      <img class="picture" src="assets/settings.svg">
      <mat-card-content>Use an Autodesk® Revit® Ifc Export configuration file or create your own directly on RVT To IFC.</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" style="font-style: italic;" disabled>Coming soon</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title >Flexible pricing</mat-card-title>
      <mat-card-subtitle>Only pay for what you need</mat-card-subtitle>
      <img class="picture" src="assets/pricing.svg">
      <mat-card-content>Purchase conversion as you need them or buy them in bulk</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="'/checkout'">Buy Conversions</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
