.mat-display-4 {
    margin-top: 0.6rem;
}

mat-card {
    flex-grow: 1;
    max-width:32%;
    padding:1rem;
}

span.material-icons {
    font-size: 4rem;
}

mat-card-title {
    margin-bottom: 1rem;
}

.picture {
    margin-bottom: 1rem;
    height: 10rem;
}

mat-card mat-card-actions:last-of-type {
    margin-top: auto;
    margin-bottom: 0.8rem;
}

mat-card-title {
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch
}
