@inherits LayoutComponentBase

<MudThemeProvider Theme="appTheme" />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Primary">
        <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
        <MudSpacer />
        <NavLink class="nav-link" href="convert">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Convert
        </NavLink>
        <NavLink class="nav-link" href="admin">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Admin
        </NavLink>
        <LoginDisplay />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent>
        <div class="margin">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
