<footer>
  <div class="mat-small">
    <div>If you want to integrate this application into your worflow, <a href="mailto:simon@bim42.com">contact us</a>.
    </div>
    <div>
      This service make use of Autodesk® Forge® services. By using it, your are suscribing to the <a
        href="https://forge.autodesk.com/">Forge Term of Services</a>.
    </div>
    <div>
      Autodesk and Autodesk® Revit® are registered trademarks or trademarks of Autodesk, Inc., and/or its
      subsidiaries and/or affiliates in the USA and/or other countries.
    </div>
    <div>
      <a href="https://www.bim42.com/privacy/">Privacy Policy</a>
    </div>
  </div>
</footer>