<h1 class="mat-display-2">RVT To IFC</h1>
<h2 class="mat-display-1">A price for every use</h2>

<div>
  <div fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="2em">
    <div fxFlex>
      <app-price [title]="'Start'" [description]="'5 Conversions to get you started'" [price]="5" [prodcutId]="'price_1I1FyBFjsZIqAFNUDq68rcub'" ></app-price>
    </div>
    <div fxFlex>
      <app-price [title]="'Run'" [description]="'20 Conversions to handle your daily conversions'" [price]="20" [prodcutId]="'price_1I1FyHFjsZIqAFNU4VyfHnW9'"></app-price>
    </div>
  </div>
</div>

<div *ngIf="loading">Loading....</div>