<h1 class="mat-display-2">RVT To IFC</h1>
<h2 class="mat-display-1">A price for every use</h2>

<div>
  <div fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="2em">
    <div fxFlex>
      <app-price [title]="'Start'" [description]="'10 Conversions to get you started'" [price]="10" [prodcutId]="'price_1I4uCPFjsZIqAFNUy4V3CVTt'"></app-price>
    </div>
    <div fxFlex>
      <app-price [title]="'Run'" [description]="'50 Conversions to handle your daily conversions'" [price]="50" [prodcutId]="'price_1I4uBRFjsZIqAFNUZtFMQjv9'"></app-price>
    </div>
  </div>
</div>

<div *ngIf="loading">Loading....</div>