

<mat-toolbar color="primary" class="toolbar-flexbox">
  <div class="toolbar-margin"></div>
  <mat-toolbar color="primary" class="toolbar-main">
    <a class="title" [routerLink]="['/']">{{ title }}</a>
    <div class="button-spacer"></div>
    <button mat-raised-button color="accent" [routerLink]="'/upload'">Convert</button>
  
    <div class="toolbar-spacer"></div>
    <button mat-raised-button color="accent" [routerLink]="'/checkout'">Checkout</button>
    <button mat-raised-button color="accent" [routerLink]="'/upload'">Convert</button>
    <div class="button-spacer"></div>
    <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>
    <button mat-raised-button color="warn" *ngIf="loggedIn" (click)="logout()">Logout</button>
  </mat-toolbar>
  <div class="toolbar-margin"></div>
</mat-toolbar>

<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="5"></div>
    <div fxFlex="90">
      <router-outlet *ngIf="!isIframe"></router-outlet>
    </div>
    <div fxFlex="5"></div>
  </div>
</div>