.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  a.title {
    color: white;
  }

  .button-spacer {
    width: 8px;
  }

  .toolbar-margin {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 8%;
  }

  .toolbar-main {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 84%;
  }

  .toolbar-flexbox {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-between;
    align-items: stretch;
  }

  mat-toolbar {
    padding: 0;
  }