<div>
  <mat-toolbar color="primary" class="toolbar-flexbox">
    <div class="toolbar-margin"></div>
    <mat-toolbar color="primary" class="toolbar-main">

      <a class="title" [routerLink]="['/']">
        <img src="assets/revit-to-ifc-logo-white.svg">
      </a>
      <div class="toolbar-spacer"></div>

      <div class="button-spacer"></div>
      <button mat-flat-button [routerLink]="'/checkout'">Pricing</button>
      <div class="button-spacer"></div>
      <button mat-flat-button  *ngIf="loggedIn" [routerLink]="'/upload'">Convert</button>
      <div class="button-spacer"></div>
      <button mat-flat-button *ngIf="!loggedIn" (click)="userLogin()">Login</button>
      <button mat-flat-button color="warn" *ngIf="loggedIn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="toolbar-margin"></div>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

  <div>
    <div></div>
    <div>
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet *ngIf="!isIframe"></router-outlet>
    </div>
    <div></div>
  </div>
  <app-footer/>
</div>