
.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: stretch space-between;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

a.title {
  color: white;
}

.button-spacer {
  width: 8px;
}


.toolbar-flexbox {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: center;
}

mat-toolbar {
  padding: 0;
}

.layout-margins {
  padding-left: 5rem;
  padding-right:5rem;
}

.flex-grow {
    flex-grow: 1;
}

@media screen and (max-width : 1200px) {
  .layout-margins {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width:850px) {
  .layout-margins {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
