<div class="full-height">
  <mat-toolbar color="primary" class="toolbar-flexbox layout-margins">
    <a class="title" [routerLink]="['/']">
      <img src="assets/revit-to-ifc-logo-white.svg">
    </a>
    <div class="toolbar-spacer"></div>

    <div class="button-spacer"></div>
    <button mat-flat-button [routerLink]="'/checkout'">Pricing</button>
    <div class="button-spacer"></div>
    <button mat-flat-button *ngIf="loginDisplay" [routerLink]="'/upload'">Convert</button>
    <div class="button-spacer"></div>
    <button mat-flat-button *ngIf="!loginDisplay" (click)="userLogin()">Login</button>
    <button mat-flat-button color="warn" *ngIf="loginDisplay" (click)="logout()">Logout</button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

  <div class="layout-margins flex-grow">
    <div>
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet *ngIf="!isIframe"></router-outlet>
    </div>
  </div>
  <div class="layout-margins" style="background-color: var(--color-grey);">
    <app-footer />
  </div>
</div>
