.card-section {
  margin: 10%;
  padding: 5%;
}

.container {
  display: flex;
}

.container .box-left {
  flex-grow: 1;
}

.container .box-right {
  flex-grow: 0;
}

.upload-item {
  padding: 1em;
  margin-bottom: 1em;
}

mat-card-content.mat-display-2:hover {
  color: #3f51b5;
}

.mat-display-2 .material-icons {
  font-size: 50px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  cursor: pointer;
}

.mat-body-strong {
  font-size: 16px;
}

mat-card-content.file-detail {
  margin-bottom: 2px;
}