.mat-display-4 {
    margin-top: 0.6rem;
}

mat-card {
    min-height: 22rem;
}

span.material-icons {
    font-size: 4rem;
}

mat-card-title {
    margin-bottom: 1rem;
}

.picture {
    margin-bottom: 1rem;
    height: 10rem;
}

mat-card mat-card-actions:last-of-type {
    margin-top: auto;
    margin-bottom: 0.8rem;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }